.freeShipping {
    .titleItem {
        background: #f5f5f5;
    }

    .freightWrap {
        margin-top: 8px;
        overflow: hidden;
        border: 1px solid #e6e6e6;
        border-top: none;

        .freightItem {
            background: #fff;
            float: left;
            width: floor(20%);
            height: 226px;
            border-right: 1px solid #e6e6e6;
            border-top: 3px solid #e6e6e6;
        }

        .freightItem:last-child {
            border-right: none;
        }

        .freightItem:hover {
            border-top-color: $themeColor;
        }
    }
}

.freightItem {
    padding: 10px;
    font-family: "Microsoft YaHei";
    position: relative;
    p {
        line-height: 24px;

        a {
            text-decoration: none;
            font-size: 14px;
            color: #333;

            &:hover {
                color: $themeColor;
            }
        }
    }

    del {
        font-size: 12px;
        color: #666;
    }

    .price {
        position: absolute;
        width: 60px;
        height: 60px;
        background: url(../Images/homeindex.png) no-repeat -1px -318px;
        top: 64px;
        left: 14px;
        z-index: 2;
        text-align: center;
        font-size: 22px;
        line-height: 40px;
        color: #fff;
        i{
            font-size: 14px;
            font-weight: 400;
        }
    }

    .book_cover{
        height: 158px;
        width: 158px;
        margin-top: 6px;
        margin-left: 70px;
        text-align: center;
        img{
            max-width: 158px;
            max-height: 158px;
            transition: all 0.5s;
        }
        &:hover{
            img{
                transform: translateX(-10px);
            }
        }
    }
}