@charset 'utf-8';
@import 'compass/reset';

@import 'mixins/center';
@import 'mixins/clearfix';
@import 'mixins/hover';

@import 'variables';

@import "header";
@import "footer";


@import "topHeader";     // 引入网站头部样式
@import "leftNav";       // 引入左部导航的样式
@import 'banner';
@import 'tabHot';
@import 'hotShipping';   // 引入畅销样式

@import 'titleItem';     // 引入每个模块头部样式
@import 'groupHot';      // 淘书团热销
@import 'freeShipping';  // 引入包邮区样式  
@import 'category';      // 引入每一种类图书的公共样式
@import 'publishModule'; // 引入出版社图书模块样式


body{
    /* font-size: 12px;
    color: #666666; */
    font-family: "宋体";;
}
/* 顶部广告样式 */
.topBanner {
    height: 100px;
    background-color: rgb(138, 31, 37);

    .banner {
        text-align: center;

        img {
            /* width: 100%; */
        }
    }
}


/* 网页内容 */
.content {
    @include w1200;

    .bannerWrap {
        height: 890px;
        background: #333;
        /* overflow: hidden; */
        /* 右侧样式 */
        .rightBanner {
            margin-left: 200px;
            padding: 10px 0 0 10px;
            height: 100%;
            background: #fff;
        }

    }

    /* 每日更新样式 */
    .dayUpdate {
        height: 160px;
        background: #fff;
        &::before {
            @include clearfix;
        }
        .updateWrap {
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            a {
                display: block;
                width: 393px;
                img {
                    display: block;
                }
            }
        }

    }

    /* 淘书团热销样式 */
    .groupHot {
        height: 375px;
        margin-bottom: 25px;
        background: #fff;
    }

    /* 包邮区样式 */
    .freeShipping {
        height: 320px;
        background: #fff;
    }

    %category {
        height: 595px;
        margin-bottom: 28px;
        background: lightpink;
    }

    .literature {
        @extend %category;
        background: #fff;
    }

    .social {
        @extend %category;
        background: #fff;
    }

    .childBooks {
        @extend %category;
        background: #fff;
    }

    .others {
        height: 346px;
        background: #fff;
    }

    .publish {
        height: 516px;
        background: #fff;
    }
}