@import "header";
@import "footer";


body {
    background: #f6f4f5;
}

.content {
    margin-top: 20px;
}

.w1000 {
    @include w1000;
    background: #fff;
}

.registerForm {
    padding: 60px 50px 170px;

    .registerTitle {
        height: 24px;
        line-height: 24px;
        font-family: 'Microsoft YaHei';

        b {
            border-left: 3px solid #ff0000;
            font-size: 22px;
            color: #333;
            font-weight: bold;
            padding-left: 13px;
            line-height: 24px;
            font-family: 'Microsoft YaHei';
            display: inline-block;
        }

        span {
            display: inline-block;
            padding-top: 5px;
            font-size: 14px;
            color: #e60000;
            margin-left: 11px;
        }

        .backLogin {
            float: right;
            font-size: 14px;
            color: #c1c1c1;

            a {
                color: #999;
                text-decoration: none;
                display: inline-block;
                margin-top: 5px;
            }
        }
    }

    .registerInputWrap {
        margin-top: 50px;
        position: relative;

        .subButton {
            width: 380px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border: none;
            background: #e60000;
            color: #fff;
            border-radius: 5px;
            margin-left: 180px;
            margin-top: 23px;
        }

        .otherLink {
            margin: 25px 0 0 180px;
            width: 380px;
            overflow: hidden;
            line-height: 24px;
            a{
                float: left;
                color: #666a6b;
                font-size: 14px;
                text-decoration: none;
            }
            .newUserReg {
                float: right;
            }
        }
    }
}

.item {

    .contentInput {
        overflow: hidden;
        line-height: 42px;

        .label {
            width: 150px;
            text-align: right;
            float: left;
            font-size: 16px;
            color: #333;
        }


        .inputWrap {
            box-sizing: border-box;
            width: 340px;
            height: 42px;
            border: 1px solid #dcdcdc;
            border-radius: 4px;
            float: left;
            margin-left: 30px;

            input {
                border: none;
                outline: none;
                height: 100%;
                width: 100%;
                padding-left: 10px;
                background: transparent;
            }

            input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 1000px white inset;
            }

        }
        
        .danger{
            border-color: #e60000;
        }

        .info {
            margin-left: 20px;
            height: 30px;
            display: none;
        }
    }

    .tip {
        height: 30px;
        line-height: 30px;
        font-size: 12px;

        p {
            display: none;
            margin-left: 180px;
            color: #666;
        }
        .danger{
            color: #e60000;
        }
    }
}


#confirmCode {
    .inputWrap {
        width: 200px;
    }

    .codeWrap {
        float: left;
        margin-left: 30px;
    }
}

.otherLoginWrap .therLoginTit {
    background: url(../Images/logindot.jpg) repeat-x center;
    margin-left: 180px;
    text-align: center;
    width: 380px;
    margin-top: 46px;
}