@charset "UTF-8";
/* line 5, E:/Program Files (x86)/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, E:/Program Files (x86)/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, E:/Program Files (x86)/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, E:/Program Files (x86)/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, E:/Program Files (x86)/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, E:/Program Files (x86)/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, E:/Program Files (x86)/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, E:/Program Files (x86)/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, E:/Program Files (x86)/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/_header.scss */
.loginHead {
  background: #fff;
  height: 91px;
  border-bottom: 2px solid #e60000;
  min-width: 1000px;
}
/* line 10, ../sass/_header.scss */
.loginHead .logoInner {
  width: 1000px;
  margin: auto;
  overflow: hidden;
}
/* line 13, ../sass/_header.scss */
.loginHead .logoInner .logo {
  padding: 22px 0;
  float: left;
  width: 200px;
  position: relative;
}
/* line 19, ../sass/_header.scss */
.loginHead .logoInner h1 {
  text-indent: -9999px;
}
/* line 21, ../sass/_header.scss */
.loginHead .logoInner h1 a {
  display: block;
  position: absolute;
  top: 22px;
}
/* line 26, ../sass/_header.scss */
.loginHead .logoInner h1 img {
  display: block;
}
/* line 30, ../sass/_header.scss */
.loginHead .logoInner .ad {
  float: right;
  height: 36px;
  padding: 27px 0;
}
/* line 34, ../sass/_header.scss */
.loginHead .logoInner .ad span {
  float: left;
  line-height: 36px;
  padding-left: 49px;
  margin-right: 33px;
  font-size: 12px;
  background: url(../images/promiseAd.png) no-repeat left;
}
/* line 42, ../sass/_header.scss */
.loginHead .logoInner .ad .baoyou {
  background-position: -141px;
}
/* line 45, ../sass/_header.scss */
.loginHead .logoInner .ad .yizhe {
  background-position: -289px;
  margin-right: 0;
}

/* line 6, ../sass/_footer.scss */
.loginRegistryFoot .footNav {
  padding-top: 46px;
}
/* line 9, ../sass/_footer.scss */
.loginRegistryFoot .footNav ul {
  width: 480px;
  margin: auto;
  overflow: hidden;
}
/* line 15, ../sass/_footer.scss */
.loginRegistryFoot .footNav li {
  float: left;
  width: 120px;
  text-align: center;
  background: url(../images/loginRegistfootline.jpg) no-repeat right center;
}
/* line 22, ../sass/_footer.scss */
.loginRegistryFoot .footNav li:last-child {
  background: none;
}
/* line 27, ../sass/_footer.scss */
.loginRegistryFoot .certificate {
  margin: 20px auto 30px;
}
/* line 30, ../sass/_footer.scss */
.loginRegistryFoot .certificate .credit_certificate {
  float: left;
  margin-left: 90px;
}
/* line 35, ../sass/_footer.scss */
.loginRegistryFoot .certificate .license {
  float: left;
  margin-left: 18px;
}
/* line 38, ../sass/_footer.scss */
.loginRegistryFoot .certificate .license p {
  line-height: 20px;
}
/* line 41, ../sass/_footer.scss */
.loginRegistryFoot .certificate .license span {
  font-size: 12px;
  color: #333333;
}
/* line 49, ../sass/_footer.scss */
.loginRegistryFoot a {
  text-decoration: none;
  font-size: 12px;
  color: #333333;
}
/* line 6, ../sass/mixins/_hover.scss */
.loginRegistryFoot a:hover {
  color: #e60000;
  text-decoration: underline;
}

/* 网页头部样式 */
/* line 2, ../sass/_topHeader.scss */
header {
  height: 173px;
  min-width: 1200px;
  border-bottom: 2px solid #e60000;
}

/* 头部链接结构 */
/* line 9, ../sass/_topHeader.scss */
#top {
  height: 31px;
  line-height: 31px;
  background-color: #f2f2f2;
  font-size: 12px;
  /* 左侧欢迎结构 */
  /* 右侧导航结构 */
}
/* line 15, ../sass/_topHeader.scss */
#top .topWrapper {
  width: 1200px;
  margin: auto;
  /* overflow: hidden; */
  height: 31px;
}
/* line 22, ../sass/_topHeader.scss */
#top .topLeft {
  float: left;
  font-weight: 400;
  color: #666;
}
/* line 27, ../sass/_topHeader.scss */
#top .topLeft h2 {
  float: left;
}
/* line 31, ../sass/_topHeader.scss */
#top .topLeft p {
  float: left;
  margin-left: 10px;
}
/* line 36, ../sass/_topHeader.scss */
#top .topLeft span {
  padding: 0 10px;
  color: #d1d1d1;
}
/* line 41, ../sass/_topHeader.scss */
#top .topLeft a {
  text-decoration: none;
  font-size: 12px;
  color: #333333;
  color: #e60000;
}
/* line 6, ../sass/mixins/_hover.scss */
#top .topLeft a:hover {
  color: #e60000;
  text-decoration: underline;
}
/* line 48, ../sass/_topHeader.scss */
#top .right_nav {
  float: right;
  height: 100%;
}
/* line 52, ../sass/_topHeader.scss */
#top .right_nav li {
  float: left;
  height: 100%;
  padding: 0 15px;
  border: 1px solid #f2f2f2;
  border-bottom: none;
}
/* line 60, ../sass/_topHeader.scss */
#top .right_nav .backChange {
  position: relative;
}
/* line 63, ../sass/_topHeader.scss */
#top .right_nav .backChange span {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 4px;
  background: url(../images/homeindex.png) no-repeat 0 0;
}
/* line 72, ../sass/_topHeader.scss */
#top .right_nav .backChange:hover {
  background: #fff;
  box-shadow: 1px 1px 2px #e6e6e6;
}
/* line 73, ../sass/_topHeader.scss */
#top .right_nav .backChange:hover span {
  background-position: 0 -4px;
}
/* line 80, ../sass/_topHeader.scss */
#top .right_nav .backChange:hover .hiddenLayer {
  display: block;
}
/* line 85, ../sass/_topHeader.scss */
#top .right_nav .hiddenLayer {
  display: none;
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 156px;
  background: #ffff;
  border: 1px solid #dadada;
  border-top: none;
  z-index: 9;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  padding-left: 12px;
}
/* line 98, ../sass/_topHeader.scss */
#top .right_nav .hiddenLayer a {
  width: 78px;
  line-height: 24px;
  margin-bottom: 6px;
  float: left;
  /* text-align: center; */
}
/* line 107, ../sass/_topHeader.scss */
#top .right_nav a {
  text-decoration: none;
  font-size: 12px;
  color: #333333;
}
/* line 6, ../sass/mixins/_hover.scss */
#top .right_nav a:hover {
  color: #e60000;
  text-decoration: underline;
}

/* 二维码样式 */
/* line 116, ../sass/_topHeader.scss */
.erweimaWrap {
  width: 100%;
  overflow: hidden;
  margin-top: 8px;
}
/* line 121, ../sass/_topHeader.scss */
.erweimaWrap .erweima {
  float: left;
}
/* line 124, ../sass/_topHeader.scss */
.erweimaWrap .erweima img {
  display: block;
}
/* line 129, ../sass/_topHeader.scss */
.erweimaWrap .text {
  float: left;
  line-height: 18px;
  margin-left: 10px;
}
/* line 134, ../sass/_topHeader.scss */
.erweimaWrap .text b {
  display: block;
  color: #e60000;
  margin: 8px 0;
}
/* line 140, ../sass/_topHeader.scss */
.erweimaWrap .text i {
  /* line-height: 14px; */
}

/* 头部搜索块 */
/* line 149, ../sass/_topHeader.scss */
.search {
  height: 100px;
  background: #ffff;
  /* 左侧logo样式 */
}
/* line 153, ../sass/_topHeader.scss */
.search .searchWrap {
  width: 1200px;
  margin: auto;
  height: 100%;
}
/* line 159, ../sass/_topHeader.scss */
.search .ztLogo {
  float: left;
  overflow: hidden;
  height: 100%;
}
/* line 164, ../sass/_topHeader.scss */
.search .ztLogo h1 {
  text-indent: -9999px;
}
/* line 167, ../sass/_topHeader.scss */
.search .ztLogo h1 a {
  display: block;
}
/* line 171, ../sass/_topHeader.scss */
.search .ztLogo h1 img {
  display: block;
}

/* 中间搜索框样式 */
/* line 182, ../sass/_topHeader.scss */
.searchCenter {
  padding-top: 20px;
  margin-left: 35px;
  float: left;
  /* overflow: hidden; */
  position: relative;
}
/* line 189, ../sass/_topHeader.scss */
.searchCenter .inputWrap {
  height: 40px;
  width: 610px;
  position: relative;
}
/* line 195, ../sass/_topHeader.scss */
.searchCenter .inputInner {
  border: 2px solid #e60000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 203, ../sass/_topHeader.scss */
.searchCenter .inputInner input {
  float: left;
  margin: 8px 12px;
  width: 350px;
  border: none;
  outline: none;
  color: #6666;
}
/* line 212, ../sass/_topHeader.scss */
.searchCenter .inputInner .searchTabWrap {
  float: right;
  height: 100%;
  padding: 0 12px;
  font-size: 8px;
  line-height: 34px;
  box-sizing: border-box;
  color: #999999;
  border: 1px solid;
  position: relative;
}
/* line 223, ../sass/_topHeader.scss */
.searchCenter .inputInner .searchTabWrap span {
  position: relative;
  padding-right: 12px;
}
/* line 228, ../sass/_topHeader.scss */
.searchCenter .inputInner .searchTabWrap i {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  width: 8px;
  height: 4px;
  background: url(../images/homeindex.png) no-repeat 0 -14px;
}
/* line 240, ../sass/_topHeader.scss */
.searchCenter .inputInner .searchTabWrap:hover i {
  background: url(../images/homeindex.png) no-repeat 0 -10px;
}
/* line 244, ../sass/_topHeader.scss */
.searchCenter .inputInner .searchTabWrap:hover ul {
  visibility: visible;
}
/* line 249, ../sass/_topHeader.scss */
.searchCenter .inputInner .searchTabWrap ul {
  position: absolute;
  z-index: 5;
  left: -1px;
  background: #fff;
  border: 1px solid;
  border-top: none;
  visibility: hidden;
  width: 100%;
}
/* line 259, ../sass/_topHeader.scss */
.searchCenter .inputInner .searchTabWrap ul li {
  height: 20px;
  text-align: center;
  line-height: 20px;
}
/* line 267, ../sass/_topHeader.scss */
.searchCenter .inputInner .searchText {
  float: right;
  height: 100%;
  background: #e60000;
  color: #fff;
  padding: 0px 35px;
  line-height: 36px;
}
/* line 277, ../sass/_topHeader.scss */
.searchCenter .inputBottom {
  list-style-type: none;
  margin-top: 5px;
}
/* line 280, ../sass/_topHeader.scss */
.searchCenter .inputBottom li {
  float: left;
  margin-right: 15px;
}
/* line 283, ../sass/_topHeader.scss */
.searchCenter .inputBottom li a {
  text-decoration: none;
  color: #666666;
  font-size: 12px;
}
/* line 288, ../sass/_topHeader.scss */
.searchCenter .inputBottom li a:hover {
  color: #e60000;
}
/* line 294, ../sass/_topHeader.scss */
.searchCenter .highSearch {
  position: absolute;
  right: -80px;
  line-height: 36px;
  top: 0;
  bottom: 0;
  margin: auto;
}
/* line 301, ../sass/_topHeader.scss */
.searchCenter .highSearch a {
  text-decoration: none;
  font-size: 12px;
  color: #333333;
  color: #e60000;
}
/* line 6, ../sass/mixins/_hover.scss */
.searchCenter .highSearch a:hover {
  color: #e60000;
  text-decoration: underline;
}

/* 右侧滚动通知样式 */
/* line 309, ../sass/_topHeader.scss */
.scrollMessage {
  margin-top: 20px;
  float: right;
  width: 160px;
  height: 36px;
  padding-left: 30px;
  margin-right: 10px;
  background: url(../images/homeindex.png) no-repeat 0 -20px;
  overflow: hidden;
}
/* line 318, ../sass/_topHeader.scss */
.scrollMessage p {
  height: 100%;
  line-height: 36px;
}
/* line 322, ../sass/_topHeader.scss */
.scrollMessage .newUserR {
  color: #e60000;
}

/* line 328, ../sass/_topHeader.scss */
.header_nav {
  height: 44px;
  min-width: 1200px;
}
/* line 331, ../sass/_topHeader.scss */
.header_nav .header_nav_wrap {
  width: 1200px;
  margin: auto;
  height: 100%;
  line-height: 40px;
}
/* line 335, ../sass/_topHeader.scss */
.header_nav .header_nav_wrap ul {
  padding-left: 200px;
  list-style-type: none;
  overflow: hidden;
  /* background: lightpink; */
}
/* line 340, ../sass/_topHeader.scss */
.header_nav .header_nav_wrap ul li {
  float: left;
}
/* line 343, ../sass/_topHeader.scss */
.header_nav .header_nav_wrap ul .active {
  font-weight: 700;
  color: #e60000;
}
/* line 347, ../sass/_topHeader.scss */
.header_nav .header_nav_wrap ul a {
  font-size: 18px;
  color: #333333;
  text-decoration: none;
  padding: 0 25px;
}
/* line 353, ../sass/_topHeader.scss */
.header_nav .header_nav_wrap ul a:hover {
  color: #e60000;
}

/* 左侧导航样式 */
/* line 2, ../sass/_leftNav.scss */
.leftNav {
  width: 200px;
  height: 934px;
  background: #fff;
  margin-top: -44px;
  float: left;
  position: relative;
  /* 底部导航样式 */
}
/* line 9, ../sass/_leftNav.scss */
.leftNav .leftNavWrap {
  border: 1px solid #e60000;
}
/* line 14, ../sass/_leftNav.scss */
.leftNav .minNav {
  border: 1px solid #c8c8c8;
  width: 100%;
  position: absolute;
  bottom: 0;
}
/* line 19, ../sass/_leftNav.scss */
.leftNav .minNav h4 {
  padding: 12px 20px 12px 40px;
  color: #e60000;
  background: url(../images/shu_icon.png) no-repeat;
  background-position: 20px 8px;
}
/* line 25, ../sass/_leftNav.scss */
.leftNav .minNav a {
  display: block;
  border-top: 1px solid #c8c8c8;
  font-size: 12px;
  padding: 12px 20px;
  text-decoration: none;
  color: #666666;
}
/* line 32, ../sass/_leftNav.scss */
.leftNav .minNav a em {
  float: right;
}
/* line 35, ../sass/_leftNav.scss */
.leftNav .minNav a:hover {
  color: #e60000;
}

/* 导航头部样式 */
/* line 43, ../sass/_leftNav.scss */
.titleWrap {
  height: 42px;
  line-height: 42px;
}
/* line 47, ../sass/_leftNav.scss */
.titleWrap .title {
  padding: 0 30px 0 15px;
  height: 100%;
  background: #e60000;
}
/* line 52, ../sass/_leftNav.scss */
.titleWrap .title h2 {
  color: #fff;
  background: url(../images/categoryarrowdown.png) no-repeat right center;
}
/* line 55, ../sass/_leftNav.scss */
.titleWrap .title h2 span {
  display: inline-block;
  width: 20px;
  height: 15px;
  background: url(../images/homeindex.png) no-repeat -8px 0px;
  vertical-align: middle;
  transform: translateY(-1px);
}

/* 导航内容样式 */
/* line 72, ../sass/_leftNav.scss */
.navContent {
  /* 每块导航的样式 */
}
/* line 74, ../sass/_leftNav.scss */
.navContent .ItemWrap {
  padding: 0px 12px;
  position: relative;
  /* 每块导航内容的样式 */
}
/* line 76, ../sass/_leftNav.scss */
.navContent .ItemWrap .navItem {
  padding: 8px 0;
  border-bottom: 1px solid #ffd3d4;
  position: relative;
  z-index: 999;
}
/* line 83, ../sass/_leftNav.scss */
.navContent .ItemWrap:hover {
  border: 2px solid #e60000;
  border-right: none;
}
/* line 86, ../sass/_leftNav.scss */
.navContent .ItemWrap:hover .navItem {
  background: #fff;
  width: 186px;
  border: none;
  transform: translateX(2px);
}
/* line 92, ../sass/_leftNav.scss */
.navContent .ItemWrap:hover .menu-item {
  display: block;
}
/* line 96, ../sass/_leftNav.scss */
.navContent .ItemWrap h4 {
  /* background: url(../images/); */
  margin-bottom: 10px;
}
/* line 99, ../sass/_leftNav.scss */
.navContent .ItemWrap h4 a {
  text-decoration: none;
  font-size: 12px;
  color: #333333;
  font-size: 16px;
  color: #e60000;
}
/* line 6, ../sass/mixins/_hover.scss */
.navContent .ItemWrap h4 a:hover {
  color: #e60000;
  text-decoration: underline;
}
/* line 105, ../sass/_leftNav.scss */
.navContent .ItemWrap h4 em {
  float: right;
  width: 16px;
  height: 16px;
  font-size: 16px;
  color: #666666;
}
/* line 116, ../sass/_leftNav.scss */
.navContent .ItemWrap .category-list a {
  text-decoration: none;
  font-size: 12px;
  color: #333333;
  display: inline-block;
  color: #666666;
  margin-right: 12px;
  line-height: 24px;
}
/* line 6, ../sass/mixins/_hover.scss */
.navContent .ItemWrap .category-list a:hover {
  color: #e60000;
  text-decoration: underline;
}
/* line 127, ../sass/_leftNav.scss */
.navContent .ItemWrap:last-child .navItem {
  border-bottom: none;
}
/* line 132, ../sass/_leftNav.scss */
.navContent .navBottom {
  text-align: right;
  padding-right: 20px;
  line-height: 26px;
}
/* line 137, ../sass/_leftNav.scss */
.navContent .navBottom a {
  font-size: 12px;
  color: #666;
  text-decoration: none;
}
/* line 141, ../sass/_leftNav.scss */
.navContent .navBottom a:hover {
  text-decoration: underline;
}

/* 隐藏导航块样式 */
/* line 148, ../sass/_leftNav.scss */
.menu-item {
  position: absolute;
  display: none;
  left: 100%;
  top: -2px;
  width: 761px;
  border-left: none;
  background: #fff;
  overflow: hidden;
  z-index: 5;
}
/* line 158, ../sass/_leftNav.scss */
.menu-item .subWrap {
  border: 2px solid #e60000;
  padding: 10px 0 10px 16px;
  overflow: hidden;
}
/* line 162, ../sass/_leftNav.scss */
.menu-item .subWrap .sub-list {
  padding-right: 32px;
}
/* line 165, ../sass/_leftNav.scss */
.menu-item .subWrap li {
  padding: 9px 0;
  border-bottom: 1px solid #999999;
  overflow: hidden;
}
/* line 170, ../sass/_leftNav.scss */
.menu-item .subWrap li:last-child {
  border-bottom: none;
}
/* line 174, ../sass/_leftNav.scss */
.menu-item .subWrap h4 {
  float: left;
  width: 85px;
}
/* line 177, ../sass/_leftNav.scss */
.menu-item .subWrap h4 a {
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
}
/* line 182, ../sass/_leftNav.scss */
.menu-item .subWrap h4 a:hover {
  text-decoration: none;
}
/* line 187, ../sass/_leftNav.scss */
.menu-item .subWrap p {
  line-height: 24px;
  color: #666;
  float: left;
  width: 600px;
}
/* line 192, ../sass/_leftNav.scss */
.menu-item .subWrap p a {
  text-decoration: none;
  font-size: 12px;
  color: #333333;
  color: inherit;
  white-space: nowrap;
  margin: 0 16px;
  float: left;
  line-height: inherit;
}
/* line 6, ../sass/mixins/_hover.scss */
.menu-item .subWrap p a:hover {
  color: #e60000;
  text-decoration: underline;
}
/* line 200, ../sass/_leftNav.scss */
.menu-item .subWrap p span {
  font-size: 12px;
  float: left;
  line-height: inherit;
}

/* 轮播图样式 */
/* line 2, ../sass/_banner.scss */
.bannerSwiper {
  height: 360px;
  position: relative;
}
/* line 6, ../sass/_banner.scss */
.bannerSwiper ul li {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
/* line 13, ../sass/_banner.scss */
.bannerSwiper ul li:first-child {
  display: block;
}
/* line 17, ../sass/_banner.scss */
.bannerSwiper .bannerDot {
  position: absolute;
  width: 100%;
  bottom: 0;
}
/* line 21, ../sass/_banner.scss */
.bannerSwiper .bannerDot a {
  float: left;
  height: 34px;
  font-size: 12px;
  width: 16.6666%;
  text-align: center;
  line-height: 34px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 3px 0px;
}
/* line 32, ../sass/_banner.scss */
.bannerSwiper .bannerDot a span {
  vertical-align: middle;
  padding: 0 10px;
}
/* line 37, ../sass/_banner.scss */
.bannerSwiper .bannerDot a.on {
  background: #e60000;
}
/* line 43, ../sass/_banner.scss */
.bannerSwiper .arrowLeft, .bannerSwiper .arrowRight, .bannerSwiper .groupHot .hotBookWrap .arrowLeft, .groupHot .hotBookWrap .bannerSwiper .arrowLeft, .bannerSwiper .groupHot .hotBookWrap .arrowRight, .groupHot .hotBookWrap .bannerSwiper .arrowRight {
  position: absolute;
  width: 27px;
  height: 38px;
  top: 50%;
  margin-top: -19px;
  cursor: pointer;
  display: none;
}
/* line 54, ../sass/_banner.scss */
.bannerSwiper .arrowLeft {
  left: 0;
  background: url(../images/homeindex.png) no-repeat -73px -38px;
  background-color: rgba(0, 0, 0, 0.35);
}
/* line 61, ../sass/_banner.scss */
.bannerSwiper .arrowRight {
  right: 0;
  background: url(../images/homeindex.png) no-repeat -73px 0px;
  background-color: rgba(0, 0, 0, 0.35);
}

/* line 1, ../sass/_tabHot.scss */
.tabHot {
  margin-top: 10px;
  height: 510px;
  overflow: hidden;
}
/* line 6, ../sass/_tabHot.scss */
.tabHot .tabWrap {
  float: left;
  padding: 10px;
  background: #eff2fa;
}
/* line 11, ../sass/_tabHot.scss */
.tabHot .tabWrap #tabSwitch {
  width: 730px;
  height: 490px;
  background: transparent;
}

/* line 19, ../sass/_tabHot.scss */
#tabSwitch {
  /* 切换内容样式 */
}
/* line 20, ../sass/_tabHot.scss */
#tabSwitch .nav {
  height: 40px;
  background: transparent;
  border-bottom: none;
}
/* line 24, ../sass/_tabHot.scss */
#tabSwitch .nav li {
  border: none;
  box-sizing: border-box;
  height: 100%;
  background: transparent;
}
/* line 31, ../sass/_tabHot.scss */
#tabSwitch .nav a {
  border-radius: 0;
  border: none;
  background: transparent;
  margin-right: 0;
  padding: 0 25px;
  box-sizing: content-box;
  border-top: 3px solid transparent;
  font-size: 16px;
  color: #111;
  height: 37px;
  line-height: 37px;
  font-weight: 300;
}
/* line 49, ../sass/_tabHot.scss */
#tabSwitch .nav .active a {
  border-top: 3px solid #e60000;
  background: #fff;
  font-weight: bold;
  color: #e60000;
}
/* line 59, ../sass/_tabHot.scss */
#tabSwitch .tab-content {
  background: #ffff;
  height: 450px;
  margin: 0;
}

/* 切换面板内容样式 */
/* line 67, ../sass/_tabHot.scss */
.tab-pane {
  height: 100%;
}
/* line 70, ../sass/_tabHot.scss */
.tab-pane .mainEditor {
  height: 189px;
  border-bottom: 1px solid #eef1f9;
  padding: 15px 15px 0;
}
/* line 75, ../sass/_tabHot.scss */
.tab-pane .mainEditor .mainCover {
  float: left;
  width: 189px;
  height: 160px;
  text-align: center;
}
/* line 81, ../sass/_tabHot.scss */
.tab-pane .mainEditor .mainCover img {
  max-width: 160px;
  max-height: 160px;
}
/* line 88, ../sass/_tabHot.scss */
.tab-pane .tabBook {
  padding: 10px 0;
}

/* line 94, ../sass/_tabHot.scss */
.mainText {
  float: left;
  width: 495px;
  height: 100px;
}
/* line 99, ../sass/_tabHot.scss */
.mainText h2 {
  margin-top: 10px;
  line-height: 30px;
}
/* line 103, ../sass/_tabHot.scss */
.mainText h2 a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-family: "Microsoft YaHei";
}
/* line 109, ../sass/_tabHot.scss */
.mainText h2 a:hover {
  color: #e60000;
}
/* line 116, ../sass/_tabHot.scss */
.mainText .mainFont p {
  text-indent: 2em;
}

/* line 122, ../sass/_tabHot.scss */
.priceWrap {
  height: 30px;
  line-height: 30px;
}
/* line 126, ../sass/_tabHot.scss */
.priceWrap span {
  font-size: 18px;
  font-family: "Microsoft YaHei";
  color: #999999;
}
/* line 132, ../sass/_tabHot.scss */
.priceWrap .nowPrice {
  color: #e60000;
}
/* line 136, ../sass/_tabHot.scss */
.priceWrap .oldPrice {
  text-decoration: line-through;
}

/* line 142, ../sass/_tabHot.scss */
.mainFont p {
  font-size: 12px;
  color: #333;
  line-height: 24px;
  text-indent: 2em;
}

/* line 150, ../sass/_tabHot.scss */
.bookItem {
  width: 25%;
  float: left;
}
/* line 154, ../sass/_tabHot.scss */
.bookItem .bookWrap a {
  text-decoration: none;
}
/* line 157, ../sass/_tabHot.scss */
.bookItem .bookWrap .bookImg {
  text-align: center;
  position: relative;
}
/* line 160, ../sass/_tabHot.scss */
.bookItem .bookWrap .bookImg img {
  max-width: 158px;
  max-height: 158px;
}
/* line 164, ../sass/_tabHot.scss */
.bookItem .bookWrap .bookImg .discount {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 170, ../sass/_tabHot.scss */
.bookItem .bookWrap .bookDisc {
  margin: 10px 0;
  padding: 0 15px;
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  color: #333;
  height: 36px;
  overflow: hidden;
}
/* line 177, ../sass/_tabHot.scss */
.bookItem .bookWrap .bookDisc:hover {
  color: #e60000;
}
/* line 182, ../sass/_tabHot.scss */
.bookItem .bookPrice {
  padding: 0 15px;
  line-height: 20px;
}
/* line 185, ../sass/_tabHot.scss */
.bookItem .bookPrice .nowPrice {
  color: #e60000;
  font-size: 16px;
  font-family: "Microsoft YaHei";
}
/* line 191, ../sass/_tabHot.scss */
.bookItem .bookPrice .oldPrice {
  color: #666666;
  font-size: 12px;
  font-family: "Microsoft YaHei";
  text-decoration: line-through;
}

/* 右侧畅销榜样式 */
/* line 2, ../sass/_hotShipping.scss */
.hotShipping {
  width: 240px;
  padding-left: 0px;
  height: 100%;
  float: right;
  background: #fff;
  /* 更多畅销样式 */
}
/* line 9, ../sass/_hotShipping.scss */
.hotShipping .hotTitle {
  height: 32px;
}
/* line 13, ../sass/_hotShipping.scss */
.hotShipping .hotTitle h3 {
  line-height: 32px;
  color: #e60000;
}
/* line 17, ../sass/_hotShipping.scss */
.hotShipping .hotTitle h3 a {
  float: right;
  text-decoration: none;
  font-size: 12px;
  color: #333333;
}
/* line 6, ../sass/mixins/_hover.scss */
.hotShipping .hotTitle h3 a:hover {
  color: #e60000;
  text-decoration: underline;
}
/* line 26, ../sass/_hotShipping.scss */
.hotShipping .moreHotSale {
  text-align: right;
  /* padding-left: 10px; */
  padding-right: 10px;
  background: #f0f0f0;
  line-height: 20px;
}
/* line 33, ../sass/_hotShipping.scss */
.hotShipping .moreHotSale a {
  text-decoration: none;
  font-size: 12px;
  color: #333333;
}
/* line 6, ../sass/mixins/_hover.scss */
.hotShipping .moreHotSale a:hover {
  color: #e60000;
  text-decoration: underline;
}

/* 畅销榜导航 */
/* line 40, ../sass/_hotShipping.scss */
.hotNav {
  overflow: hidden;
  position: relative;
}
/* line 46, ../sass/_hotShipping.scss */
.hotNav ul {
  margin-left: 10px;
  width: 275px;
  overflow: hidden;
}
/* line 51, ../sass/_hotShipping.scss */
.hotNav ul li {
  width: 54px;
  height: 33px;
  float: left;
  border: 1px solid #e6e6e6;
  border-right: none;
}
/* line 57, ../sass/_hotShipping.scss */
.hotNav ul li a {
  display: block;
  height: 100%;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  color: #666;
}
/* line 65, ../sass/_hotShipping.scss */
.hotNav ul li a:hover {
  color: #e60000;
}
/* line 69, ../sass/_hotShipping.scss */
.hotNav ul li:hover {
  border-top: 2px solid #e60000;
  border-bottom: none;
}
/* line 76, ../sass/_hotShipping.scss */
.hotNav .arrow {
  position: absolute;
  top: 0;
  height: 36px;
  width: 10px;
  cursor: pointer;
  /*  display: none; */
}
/* line 85, ../sass/_hotShipping.scss */
.hotNav .leftArrow {
  left: 0;
  background: url(../images/homeindex.png) no-repeat -10px -64px;
}
/* line 90, ../sass/_hotShipping.scss */
.hotNav .rightArrow {
  right: 0;
  background: url(../images/homeindex.png) no-repeat 0px -64px;
}

/* 畅销榜内容样式 */
/* line 97, ../sass/_hotShipping.scss */
.hotCon {
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}
/* line 100, ../sass/_hotShipping.scss */
.hotCon li {
  border-bottom: 1px solid #eaeaea;
  padding: 0 10px;
  overflow: hidden;
  line-height: 34px;
  position: relative;
}
/* line 106, ../sass/_hotShipping.scss */
.hotCon li .rank {
  position: absolute;
  font-size: 16px;
  color: #e60000;
}
/* line 111, ../sass/_hotShipping.scss */
.hotCon li .describe {
  height: 34px;
  font-size: 12px;
  color: #333;
  margin-left: 25px;
}
/* line 116, ../sass/_hotShipping.scss */
.hotCon li .describe em {
  float: right;
}
/* line 121, ../sass/_hotShipping.scss */
.hotCon li .hotCur {
  margin-left: 25px;
  padding: 10px 0 11px;
  background: #ffff;
  overflow: hidden;
}

/* line 131, ../sass/_hotShipping.scss */
.hotCur .leftImg {
  height: 85px;
  width: 85px;
  float: left;
}
/* line 136, ../sass/_hotShipping.scss */
.hotCur .leftImg a img {
  max-width: 85px;
  max-height: 85px;
}
/* line 143, ../sass/_hotShipping.scss */
.hotCur .rightDesc {
  margin-top: 8px;
}
/* line 145, ../sass/_hotShipping.scss */
.hotCur .rightDesc .title {
  height: 44px;
  line-height: 22px;
  overflow: hidden;
  white-space: wrap;
}
/* line 150, ../sass/_hotShipping.scss */
.hotCur .rightDesc .title a {
  font-size: 12px;
  color: #333;
}
/* line 154, ../sass/_hotShipping.scss */
.hotCur .rightDesc .title a:hover {
  color: #e60000;
}
/* line 159, ../sass/_hotShipping.scss */
.hotCur .rightDesc .price {
  font-size: 12px;
  font-family: "Microsoft YaHei";
}
/* line 162, ../sass/_hotShipping.scss */
.hotCur .rightDesc .price .nowPrice {
  color: #e60000;
}
/* line 165, ../sass/_hotShipping.scss */
.hotCur .rightDesc .price .oldPrice {
  color: #999;
  margin-left: 2px;
}

/* 每一块内容的头部样式 */
/* line 3, ../sass/_titleItem.scss */
.titleItem {
  background: #fff;
  overflow: hidden;
  font-family: "Microsoft YaHei";
}
/* line 7, ../sass/_titleItem.scss */
.titleItem h2 {
  height: 58px;
  line-height: 58px;
  float: left;
}
/* line 12, ../sass/_titleItem.scss */
.titleItem h2 a {
  font-size: 22px;
  color: #e60000;
  text-decoration: none;
}
/* line 16, ../sass/_titleItem.scss */
.titleItem h2 a span {
  font-size: 18px;
  font-style: oblique;
  color: #333;
}
/* line 24, ../sass/_titleItem.scss */
.titleItem .checkMore {
  float: right;
  height: 58px;
  line-height: 58px;
  text-decoration: none;
  color: #666;
  font-size: 14px;
}
/* line 31, ../sass/_titleItem.scss */
.titleItem .checkMore:hover {
  text-decoration: underline;
}

/* line 2, ../sass/_groupHot.scss */
.groupHot .titleItem {
  border-bottom: 3px solid #e60000;
}
/* line 5, ../sass/_groupHot.scss */
.groupHot .hotBookWrap {
  margin-top: 14px;
  overflow: hidden;
  position: relative;
}
/* line 9, ../sass/_groupHot.scss */
.groupHot .hotBookWrap .arrowLeft, .groupHot .hotBookWrap .arrowRight {
  position: absolute;
  width: 27px;
  height: 38px;
  top: 120px;
  margin-top: -19px;
  cursor: pointer;
  /* display: none; */
}
/* line 19, ../sass/_groupHot.scss */
.groupHot .hotBookWrap .arrowLeft {
  left: 0;
  background: url(../images/homeindex.png) no-repeat -73px -38px;
  background-color: rgba(0, 0, 0, 0.35);
}
/* line 26, ../sass/_groupHot.scss */
.groupHot .hotBookWrap .arrowRight {
  right: 0;
  background: url(../images/homeindex.png) no-repeat -73px 0px;
  background-color: rgba(0, 0, 0, 0.35);
}
/* line 33, ../sass/_groupHot.scss */
.groupHot ul {
  overflow: hidden;
  width: 2304px;
  height: 600px;
  position: relative;
}

.hotBookWrap ul .hideHot{
  position: absolute;top: 0;left: 0;
  display: none;
  height: 600px;  width: 1524px;
}
/* line 37, ../sass/_groupHot.scss */
.groupHot li {
  box-sizing: content-box;
  float: left;
  width: 286px;
  border: 1px solid #e6e6e6;
  margin-right: 16px;
  overflow: hidden;
  background: #edf8ff;
  height: 298px;
}
/* line 47, ../sass/_groupHot.scss */
.groupHot li .bookCover img {
  max-height: 190px;
  max-width: 286px;
  display: block;
}
/* line 53, ../sass/_groupHot.scss */
.groupHot li .bookName {
  margin-top: 7px;
  padding: 0 14px;
  line-height: 22px;
  height: 66px;
  overflow: hidden;
}
/* line 59, ../sass/_groupHot.scss */
.groupHot li .bookName a {
  font-size: 12px;
  color: #333;
}
/* line 62, ../sass/_groupHot.scss */
.groupHot li .bookName a:hover {
  color: #e60000;
}
/* line 67, ../sass/_groupHot.scss */
.groupHot li .priceWrap {
  position: relative;
  padding: 0 14px;
}
/* line 70, ../sass/_groupHot.scss */
.groupHot li .priceWrap .salePrice {
  font-size: 20px;
  color: #e60000;
  /* font-weight: 600; */
}
/* line 74, ../sass/_groupHot.scss */
.groupHot li .priceWrap .salePrice b {
  font-size: 14px;
  color: #e60000;
}
/* line 78, ../sass/_groupHot.scss */
.groupHot li .priceWrap .salePrice i {
  font-size: 14px;
  color: #e60000;
  font-weight: 500;
}
/* line 86, ../sass/_groupHot.scss */
.groupHot li .priceWrap .price {
  font-size: 12px;
  color: #666;
  margin-left: 13px;
}
/* line 92, ../sass/_groupHot.scss */
.groupHot li .priceWrap .discount {
  background: #5bd7ff;
  font-size: 12px;
  line-height: 16px;
  padding: 0 5px;
  position: absolute;
  top: 8px;
  right: 14px;
  color: #fff;
  border-radius: 2px;
}

/* line 2, ../sass/_freeShipping.scss */
.freeShipping .titleItem {
  background: #f5f5f5;
}
/* line 6, ../sass/_freeShipping.scss */
.freeShipping .freightWrap {
  margin-top: 8px;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  border-top: none;
}
/* line 12, ../sass/_freeShipping.scss */
.freeShipping .freightWrap .freightItem {
  background: #fff;
  float: left;
  width: 18.2%;
  height: 226px;
  border-right: 1px solid #e6e6e6;
  border-top: 3px solid #e6e6e6;
}
/* line 21, ../sass/_freeShipping.scss */
.freeShipping .freightWrap .freightItem:last-child {
  border-right: none;
}
/* line 25, ../sass/_freeShipping.scss */
.freeShipping .freightWrap .freightItem:hover {
  border-top-color: #e60000;
}

/* line 31, ../sass/_freeShipping.scss */
.freightItem {
  padding: 10px;
  font-family: "Microsoft YaHei";
  position: relative;
}
/* line 35, ../sass/_freeShipping.scss */
.freightItem p {
  line-height: 24px;
}
/* line 38, ../sass/_freeShipping.scss */
.freightItem p a {
  text-decoration: none;
  font-size: 14px;
  color: #333;
}
/* line 43, ../sass/_freeShipping.scss */
.freightItem p a:hover {
  color: #e60000;
}
/* line 49, ../sass/_freeShipping.scss */
.freightItem del {
  font-size: 12px;
  color: #666;
}
/* line 54, ../sass/_freeShipping.scss */
.freightItem .price {
  position: absolute;
  width: 60px;
  height: 60px;
  background: url(../images/homeindex.png) no-repeat -1px -318px;
  top: 64px;
  left: 14px;
  z-index: 2;
  text-align: center;
  font-size: 22px;
  line-height: 40px;
  color: #fff;
}
/* line 66, ../sass/_freeShipping.scss */
.freightItem .price i {
  font-size: 14px;
  font-weight: 400;
}
/* line 72, ../sass/_freeShipping.scss */
.freightItem .book_cover {
  height: 152px;
  width: 152px;
  margin-top: 6px;
  margin-left: 70px;
  text-align: center;
}
/* line 78, ../sass/_freeShipping.scss */
.freightItem .book_cover img {
  max-width: 158px;
  max-height: 158px;
  transition: all 0.5s;
}
/* line 84, ../sass/_freeShipping.scss */
.freightItem .book_cover:hover img {
  transform: translateX(-10px);
}

/* line 1, ../sass/_category.scss */
.category {
  /* 每块内容的头部样式 */
  /* 每块内容样式 */
  /* 此处采用圣杯布局 */
}
/* line 4, ../sass/_category.scss */
.category .categoryTitle {
  height: 55px;
  line-height: 55px;
  background: #f5f5f5;
}
/* line 9, ../sass/_category.scss */
.category .categoryTitle h2 {
  width: 210px;
  height: 100%;
  text-align: center;
  background: #00b6f0;
  float: left;
}
/* line 16, ../sass/_category.scss */
.category .categoryTitle h2 a {
  text-decoration: none;
  font-size: 22px;
  color: #fff;
  font-family: "黑体";
}
/* line 25, ../sass/_category.scss */
.category .categoryTitle ul {
  float: left;
  height: 100%;
}
/* line 30, ../sass/_category.scss */
.category .categoryTitle li {
  float: left;
  height: 100%;
  padding: 0 19px;
  background: url(../images/kindline.jpg) no-repeat right;
}
/* line 36, ../sass/_category.scss */
.category .categoryTitle li a {
  display: block;
  line-height: 52px;
  border-top: 4px solid transparent;
  color: #333;
  text-decoration: none;
}
/* line 46, ../sass/_category.scss */
.category .categoryTitle li:hover a {
  border-top: 4px solid #00b6f0;
  color: #03a7db;
}
/* line 58, ../sass/_category.scss */
.category .categoryWrap {
  margin-top: 10px;
  padding-left: 210px;
  padding-right: 230px;
  overflow: hidden;
  /* 左侧图片加导航样式 */
  /* 居中内容样式 */
  /* 右侧导航样式 */
}
/* line 65, ../sass/_category.scss */
.category .categoryWrap .categoryLeft {
  width: 210px;
  float: left;
  margin-left: -210px;
}
/* line 73, ../sass/_category.scss */
.category .categoryWrap .categoryContent {
  float: left;
  width: 100%;
}
/* line 79, ../sass/_category.scss */
.category .categoryWrap .categoryRight {
  width: 230px;
  float: left;
  margin-right: -230px;
}

/* 左侧图片加导航样式 */
/* line 88, ../sass/_category.scss */
.categoryLeft {
  /* 左侧banner广告样式 */
}
/* line 91, ../sass/_category.scss */
.categoryLeft .leftBanner {
  height: 334px;
}
/* line 95, ../sass/_category.scss */
.categoryLeft .leftBanner a img {
  display: block;
  max-height: 334px;
  max-width: 210px;
}
/* line 103, ../sass/_category.scss */
.categoryLeft .leftText {
  height: 195px;
  margin-top: 1px;
  background: #bdeefe;
  overflow: hidden;
}
/* line 109, ../sass/_category.scss */
.categoryLeft .leftText h3 {
  padding-left: 10px;
  margin-top: 14px;
  line-height: 30px;
}
/* line 115, ../sass/_category.scss */
.categoryLeft .leftText ul {
  padding-left: 10px;
  margin-top: 7px;
}
/* line 120, ../sass/_category.scss */
.categoryLeft .leftText li {
  font-size: 12px;
  line-height: 26px;
  overflow: hidden;
}
/* line 125, ../sass/_category.scss */
.categoryLeft .leftText li span {
  color: #666;
}
/* line 129, ../sass/_category.scss */
.categoryLeft .leftText li a {
  color: #666;
  text-decoration: none;
}
/* line 134, ../sass/_category.scss */
.categoryLeft .leftText li a:hover {
  color: #07a1d2;
}

/* 居中内容样式 */
/* line 143, ../sass/_category.scss */
.categoryContent li {
  float: left;
  height: 100px;
  background: #fff;
  width: 185px;
  height: 266px;
}
/* line 150, ../sass/_category.scss */
.categoryContent li .book_hover {
  height: 158px;
  margin-top: 10px;
  text-align: center;
}
/* line 155, ../sass/_category.scss */
.categoryContent li .book_hover img {
  max-height: 158px;
}
/* line 160, ../sass/_category.scss */
.categoryContent li .bookName {
  padding: 0 20px;
  line-height: 18px;
  height: 18px;
  overflow: hidden;
  margin-top: 15px;
}
/* line 167, ../sass/_category.scss */
.categoryContent li .bookName a {
  color: #333;
  font-size: 12px;
  text-decoration: none;
}
/* line 173, ../sass/_category.scss */
.categoryContent li .bookName a:hover {
  color: #e60000;
}
/* line 178, ../sass/_category.scss */
.categoryContent li .author {
  margin-top: 4px;
  color: #666;
  padding: 0 20px;
  line-height: 18px;
  height: 18px;
  font-size: 12px;
}
/* line 187, ../sass/_category.scss */
.categoryContent li .priceWrap {
  padding: 0 20px;
  font-family: "Microsoft YaHei";
}
/* line 190, ../sass/_category.scss */
.categoryContent li .priceWrap .nowPrice {
  font-size: 15px;
}
/* line 194, ../sass/_category.scss */
.categoryContent li .priceWrap .oldPrice {
  font-size: 12px;
  color: #666;
}

/* 右侧banner样式 */
/* line 205, ../sass/_category.scss */
.categoryRight {
  /* 右侧banner样式 */
}
/* line 206, ../sass/_category.scss */
.categoryRight .rightText {
  border: 1px solid #e6e6e6;
  border-bottom: none;
  background: #fff;
}
/* line 211, ../sass/_category.scss */
.categoryRight .rightText li {
  border-bottom: 1px solid #e6e6e6;
}
/* line 216, ../sass/_category.scss */
.categoryRight .rightText .img {
  display: block;
  width: 228px;
  height: 90px;
  overflow: hidden;
}
/* line 223, ../sass/_category.scss */
.categoryRight .rightText p {
  padding-left: 10px;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  color: #333;
}
/* line 231, ../sass/_category.scss */
.categoryRight .rightText p a {
  text-decoration: none;
  color: #333;
}
/* line 239, ../sass/_category.scss */
.categoryRight .rightBanner {
  height: 190px;
  margin-top: 17px;
}
/* line 243, ../sass/_category.scss */
.categoryRight .rightBanner img {
  max-height: 190px;
  max-width: 230px;
  display: block;
}

/* line 2, ../sass/_publishModule.scss */
.publish .leftWrap {
  float: left;
  width: 960px;
  overflow: hidden;
}
/* line 8, ../sass/_publishModule.scss */
.publish .rightWrap {
  width: 230px;
  float: right;
}

/* line 14, ../sass/_publishModule.scss */
.publishTitle {
  height: 55px;
  line-height: 55px;
  background: #f5f5f5;
  box-sizing: content-box;
  border-bottom: 2px solid #efefef;
}
/* line 21, ../sass/_publishModule.scss */
.publishTitle h2 {
  width: 210px;
  height: 100%;
  float: left;
  text-indent: 10px;
}
/* line 27, ../sass/_publishModule.scss */
.publishTitle h2 a {
  text-decoration: none;
  font-size: 22px;
  color: #5eadb1;
  font-family: "黑体";
}

/* line 37, ../sass/_publishModule.scss */
.publishContent {
  margin-top: 10px;
  /* 左侧导航样式 */
  /* 右侧内容样式 */
}
/* line 41, ../sass/_publishModule.scss */
.publishContent .navWrap {
  float: left;
  width: 210px;
  background: #f5f5f5;
}
/* line 48, ../sass/_publishModule.scss */
.publishContent .contentRightWrap {
  width: 740px;
  float: right;
}

/* 左侧导航样式 */
/* line 57, ../sass/_publishModule.scss */
.navWrap .topWrap {
  height: 420px;
  overflow: hidden;
}
/* line 61, ../sass/_publishModule.scss */
.navWrap .topWrap li {
  height: 42px;
  line-height: 42px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
/* line 69, ../sass/_publishModule.scss */
.navWrap .topWrap li a {
  color: #333;
  text-decoration: none;
  padding: 0 20px;
  display: block;
  height: 42px;
}
/* line 77, ../sass/_publishModule.scss */
.navWrap .topWrap li span {
  position: absolute;
  height: 42px;
  line-height: 42px;
  color: #fff;
  right: 10px;
  top: 0;
}
/* line 88, ../sass/_publishModule.scss */
.navWrap .butWrap {
  height: 28px;
  margin: 0 10px;
  border-top: 1px solid #e3e3e3;
}
/* line 93, ../sass/_publishModule.scss */
.navWrap .butWrap span {
  float: right;
  margin: 4px 0 0 6px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  background: #fff url(../images/homeindex.png) no-repeat;
}
/* line 102, ../sass/_publishModule.scss */
.navWrap .butWrap .downArrow {
  background-position: 0px -422px;
}
/* line 106, ../sass/_publishModule.scss */
.navWrap .butWrap .upArrow {
  background-position: -21px -401px;
}

/* 左侧内容样式 */
/* line 115, ../sass/_publishModule.scss */
.pubItem .pubText {
  padding-right: 8px;
  border-bottom: 1px solid #ededed;
  height: 180px;
}
/* line 119, ../sass/_publishModule.scss */
.pubItem .pubText h3 {
  padding: 0 35px;
  line-height: 20px;
  margin-top: 11px;
}
/* line 124, ../sass/_publishModule.scss */
.pubItem .pubText h3 a {
  color: #000;
  background: inherit;
  text-decoration: none;
  font-family: 'Microsoft YaHei';
  font-weight: bold;
}
/* line 132, ../sass/_publishModule.scss */
.pubItem .pubText h3 a:hover {
  color: #e60000;
}
/* line 139, ../sass/_publishModule.scss */
.pubItem .publishInfo p {
  padding: 0 35px;
  text-indent: 2em;
  line-height: 26px;
  color: #666;
  margin-top: 10px;
  font-family: "宋体";
  font-size: 12px;
}
/* line 150, ../sass/_publishModule.scss */
.pubItem li {
  float: left;
  height: 100px;
  background: #fff;
  width: 185px;
  height: 266px;
}
/* line 157, ../sass/_publishModule.scss */
.pubItem li .book_hover {
  height: 158px;
  margin-top: 10px;
  text-align: center;
}
/* line 162, ../sass/_publishModule.scss */
.pubItem li .book_hover img {
  max-height: 158px;
}
/* line 167, ../sass/_publishModule.scss */
.pubItem li .bookName {
  padding: 0 20px;
  line-height: 18px;
  height: 18px;
  overflow: hidden;
  margin-top: 15px;
}
/* line 174, ../sass/_publishModule.scss */
.pubItem li .bookName a {
  color: #333;
  font-size: 12px;
  text-decoration: none;
}
/* line 180, ../sass/_publishModule.scss */
.pubItem li .bookName a:hover {
  color: #e60000;
}
/* line 185, ../sass/_publishModule.scss */
.pubItem li .author {
  margin-top: 4px;
  color: #666;
  padding: 0 20px;
  line-height: 18px;
  height: 18px;
  font-size: 12px;
}
/* line 194, ../sass/_publishModule.scss */
.pubItem li .priceWrap {
  padding: 0 20px;
  font-family: "Microsoft YaHei";
}
/* line 198, ../sass/_publishModule.scss */
.pubItem li .priceWrap .nowPrice {
  font-size: 15px;
}
/* line 202, ../sass/_publishModule.scss */
.pubItem li .priceWrap .oldPrice {
  font-size: 12px;
  color: #666;
}

/* 右部样式 */
/* line 215, ../sass/_publishModule.scss */
.rightWrap h2 {
  height: 55px;
  background: #5eadb1;
  line-height: 55px;
  color: #fff;
  padding-left: 20px;
  font-size: 20;
  font-weight: 400px;
  font-family: "Microsoft YaHei";
}
/* line 226, ../sass/_publishModule.scss */
.rightWrap .rightContent {
  border: 1px solid #e6e6e6;
}

/* 作者介绍样式 */
/* line 233, ../sass/_publishModule.scss */
.contentWrap {
  padding: 20px 26px 0 18px;
}
/* line 237, ../sass/_publishModule.scss */
.contentWrap h3 a {
  display: inline-block;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  background: #5eadb1;
  color: #fff;
}
/* line 248, ../sass/_publishModule.scss */
.contentWrap .descri {
  margin-top: 10px;
  line-height: 18px;
}
/* line 252, ../sass/_publishModule.scss */
.contentWrap .descri a {
  color: #333333;
  font-size: 12px;
  text-decoration: none;
}
/* line 259, ../sass/_publishModule.scss */
.contentWrap .book {
  text-align: center;
  margin-top: 8px;
}
/* line 263, ../sass/_publishModule.scss */
.contentWrap .book img {
  max-height: 160px;
}
/* line 268, ../sass/_publishModule.scss */
.contentWrap .bookName {
  margin-top: 14px;
  height: 18px;
  line-height: 18px;
}
/* line 273, ../sass/_publishModule.scss */
.contentWrap .bookName a {
  color: #333;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  text-decoration: none;
}
/* line 279, ../sass/_publishModule.scss */
.contentWrap .bookName a:hover {
  color: #e60000;
}
/* line 286, ../sass/_publishModule.scss */
.contentWrap .priceWrap span {
  font-size: 16px;
  color: #5eadb1;
  font-family: "Microsoft YaHei";
}
/* line 292, ../sass/_publishModule.scss */
.contentWrap .priceWrap .Price {
  margin-left: 8px;
  text-decoration-line: line-through;
  font-size: 14px;
  color: #999;
}

/* 其他作者样式 */
/* line 302, ../sass/_publishModule.scss */
.otherAuthor {
  overflow: hidden;
  padding: 12px;
  line-height: 30px;
  background: #f7f7f7;
  font-size: 12px;
  border-top: 1px solid #e6e6e6;
}
/* line 310, ../sass/_publishModule.scss */
.otherAuthor a {
  float: left;
  padding: 0 13px;
  padding: 0 12px;
  display: inline;
  text-align: center;
  color: #333;
}
/* line 318, ../sass/_publishModule.scss */
.otherAuthor a:hover {
  color: #3da9ae;
}
/* line 323, ../sass/_publishModule.scss */
.otherAuthor span {
  float: left;
  color: #c6c6c6;
  display: inline;
}

/* line 27, ../sass/index.scss */
body {
  /* font-size: 12px;
  color: #666666; */
  font-family: "宋体";
}

/* 顶部广告样式 */
/* line 33, ../sass/index.scss */
.topBanner {
  height: 100px;
  background-color: #8a1f25;
}
/* line 37, ../sass/index.scss */
.topBanner .banner {
  text-align: center;
}
/* line 40, ../sass/index.scss */
.topBanner .banner img {
  /* width: 100%; */
}

/* 网页内容 */
/* line 48, ../sass/index.scss */
.content {
  width: 1200px;
  margin: auto;
  /* 每日更新样式 */
  /* 淘书团热销样式 */
  /* 包邮区样式 */
}
/* line 51, ../sass/index.scss */
.content .bannerWrap {
  height: 890px;
  background: #333;
  /* overflow: hidden; */
  /* 右侧样式 */
}
/* line 56, ../sass/index.scss */
.content .bannerWrap .rightBanner {
  margin-left: 200px;
  padding: 10px 0 0 10px;
  height: 100%;
  background: #fff;
}
/* line 66, ../sass/index.scss */
.content .dayUpdate {
  height: 160px;
  background: #fff;
}
/* line 69, ../sass/index.scss */
.content .dayUpdate::before {
  content: "%20";
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both;
  height: 0;
  width: 0;
}
/* line 72, ../sass/index.scss */
.content .dayUpdate .updateWrap {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* line 78, ../sass/index.scss */
.content .dayUpdate .updateWrap a {
  display: block;
  width: 393px;
}
/* line 81, ../sass/index.scss */
.content .dayUpdate .updateWrap a img {
  display: block;
}
/* line 90, ../sass/index.scss */
.content .groupHot {
  height: 375px;
  margin-bottom: 25px;
  background: #fff;
}
/* line 97, ../sass/index.scss */
.content .freeShipping {
  height: 320px;
  background: #fff;
}
/* line 102, ../sass/index.scss */
.content .literature, .content .social, .content .childBooks {
  height: 595px;
  margin-bottom: 28px;
  background: lightpink;
}
/* line 108, ../sass/index.scss */
.content .literature {
  background: #fff;
}
/* line 113, ../sass/index.scss */
.content .social {
  background: #fff;
}
/* line 118, ../sass/index.scss */
.content .childBooks {
  background: #fff;
}
/* line 123, ../sass/index.scss */
.content .others {
  height: 346px;
  background: #fff;
}
/* line 128, ../sass/index.scss */
.content .publish {
  height: 516px;
  background: #fff;
}
