/* line 5, E:/Program Files (x86)/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, E:/Program Files (x86)/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, E:/Program Files (x86)/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, E:/Program Files (x86)/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, E:/Program Files (x86)/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, E:/Program Files (x86)/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, E:/Program Files (x86)/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, E:/Program Files (x86)/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, E:/Program Files (x86)/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/_footer.scss */
.loginRegistryFoot .footNav {
  padding-top: 46px;
}
/* line 9, ../sass/_footer.scss */
.loginRegistryFoot .footNav ul {
  width: 480px;
  margin: auto;
  overflow: hidden;
}
/* line 15, ../sass/_footer.scss */
.loginRegistryFoot .footNav li {
  float: left;
  width: 120px;
  text-align: center;
  background: url(../images/loginRegistfootline.jpg) no-repeat right center;
}
/* line 22, ../sass/_footer.scss */
.loginRegistryFoot .footNav li:last-child {
  background: none;
}
/* line 27, ../sass/_footer.scss */
.loginRegistryFoot .certificate {
  margin: 20px auto 30px;
}
/* line 30, ../sass/_footer.scss */
.loginRegistryFoot .certificate .credit_certificate {
  float: left;
  margin-left: 90px;
}
/* line 35, ../sass/_footer.scss */
.loginRegistryFoot .certificate .license {
  float: left;
  margin-left: 18px;
}
/* line 38, ../sass/_footer.scss */
.loginRegistryFoot .certificate .license p {
  line-height: 20px;
}
/* line 41, ../sass/_footer.scss */
.loginRegistryFoot .certificate .license span {
  font-size: 12px;
  color: #333333;
}
/* line 49, ../sass/_footer.scss */
.loginRegistryFoot a {
  text-decoration: none;
  font-size: 12px;
  color: #333333;
}
/* line 6, ../sass/mixins/_hover.scss */
.loginRegistryFoot a:hover {
  color: red;
  text-decoration: underline;
}
